@use '../shared/variables';

.App {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 100vw;
  min-height: 100vh;
  background: variables.$primaryColor;
  transition: background 300ms;

  .App-wrapper {
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 50rem;
    min-height: 20rem;
    padding: 16px;
    background: white;
    border-radius: 8px;
    box-shadow: 1px 1px 8px #00000033;
    box-sizing: border-box;

    .Quote {
      flex-grow: 1;
    }

    .App-bottom {
      display: flex;
      
      .QuoteShare {
        margin-left: auto;
      }
    }
  }
  
  .SocialLinks {
    position: absolute;
    right: 16px;
    bottom: 16px;
  }
}
