.Quote {
  display: grid;
  grid-template-rows: min-content auto;
  grid-template-columns: auto 1fr auto;
  gap: 0 8px;
  
  p {
    margin: 0;
  }
  
  .quotemark {
    font-size: 2em;
    
    &-left {
      grid-row: 1;
      grid-column: 1;
    }
    
    &-right {
      grid-row: 1;
      grid-column: -1;
      align-self: end;
      
      @media only screen and (max-width: 600px) {
        display: none;
      }
    }
  }
  
  .quote {
    grid-row: 1;
    grid-column: 2;
    margin: 8px 0;
    align-self: center;
    font-size: 1.2em;
    text-align: center;
    overflow-y: auto;
  }

  .quote-authorship {
    grid-row: 2;
    grid-column: 2;
    margin-right: 1em;
    font-weight: 300;
    text-align: end;
  }

  @media only screen and (max-width: 600px) {
    .quotemark {
      &-right {
        display: none;
      }
    }

    .quote {
      text-align: left;
    }
  }
}

.placeholder {
  .placeholder-item {
    height: 1em;
    margin-top: .2em;
    $background-fallback: #ddd;
    $background: linear-gradient(to right, #eee 2%, #ddd 18%, #eee 33%);
    background: $background;
    background-size: 1300px;
    color: $background-fallback;
    animation: 1.7s linear infinite forwards backgroundAnimation;

  }

  .quote-authorship {
    .placeholder-item {
      margin-left: auto;
    }
  }

  svg {
    background: none !important;
  }

  @keyframes backgroundAnimation {
    from { background-position: -650px 0; }
    to { background-position: 650px 0; }
  }
}